// barcode 
@font-face {
  font-family: "Libre-barcode";
  src: url("/fonts/LibreBarcode_v1.008/LibreBarcode39ExtendedText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// helvetica 

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica\ 400.ttf");
  font-weight: normal;
  font-style: normal;
}

// ibm 3270
@font-face {
  font-family: "IBM-3270";
  src: url("/fonts/ibm/3270-Medium\ 500.ttf");
  font-weight: normal;
  font-style: normal;
}

// lasters 
@font-face {
  font-family: "Laster";
  src: url("/fonts/lasters/Lasters\ 400.ttf");
  font-weight: normal;
  font-style: normal;
}

//lazytuesday
@font-face {
  font-family: "Lazytuesday";
  src: url("/fonts/lazytuesday/Lazy\ Tuesday\ -\ Personal\ Use\ 400.otf");
  font-weight: normal;
  font-style: normal;
}

//nova
@font-face {
  font-family: "Nova";
  src: url("/fonts/nova/NovaMono\ 400.ttf");
  font-weight: normal;
  font-style: normal;
}

//static
@font-face {
  font-family: "Static";
  src: url("/fonts/static/Static\ Regular\ 400.otf");
  font-weight: normal;
  font-style: normal;
}
